
<% content_for :title do %>
 IP Administrator | New Network
<% end %>
<h2>New network</h2>

<% form_for @network do |f|%>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f } %>
  <p class="button"> <%= f.submit "Create" %> </p>
<% end -%>
