<% content_for :title do %>
 IP Administrator | New Vendor
<% end %>
<h2>New vendor</h2>

<% form_for @vendor do |f|%>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f } %>
  <p class="button"> <%= f.submit "Create" %> </p>
<% end -%>
